<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leon.module_recyvleview">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity android:name=".RecycleViewActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>